{
    "extends": "eslint-config-postcss",
    "plugins": [
        "import"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "indent": ["error", 4],
        "no-console": "error",
        "arrow-parens": ["error", "as-needed"],
        "import/no-extraneous-dependencies": ["error", { devDependencies: true }]
    },
    "env": {
        "jest": true
    }
}
